# A Quick Tour of Variables and Data Types in Python

![](https://i.imgur.com/6cg2E9Q.png)

### Part 2 of "Data Analysis with Python: Zero to Pandas"

이 튜토리얼 시리즈는 Python 프로그래밍 언어를 사용한 프로그래밍 및 데이터 분석에 대한 초보자 친화적인 소개입니다.
이러한 튜토리얼은 실용적이고 코딩 중심의 접근 방식을 취합니다. 자료를 배우는 가장 좋은 방법은 코드를 실행하고 직접 사용해 보는 것입니다.

해당 튜토리얼에서는 다음과 같은 주제를 다룹니다.

- 변수를 사용한 값의 저장
- Python에서의 기본 자료형: Integer, Float, Boolean, None and String
- Python에서의 기본 자료구조: List, Tuple and Dictionary
- 기본 자료형에서 지원되는 함수 및 연산자

### How to run the code

[Jupyter notebook](https://jupyter.org)을 통하여 해당 튜토리얼을 실행할 수 있습니다. 해당 튜토리얼에서는 코드예제를 실험해볼 수 있습니다.

#### Option 1: Running using free online resources (1-click, recommended)

**Run** 버튼을 클릭하뒤 **Run on Binder**를 선택하여 해당코드를 실행시킬수 있습니다. "Run on Colab" 혹은 "Run on Kaggle"을 선택하여 [Google Colab](https://colab.research.google.com) 혹은[Kaggle](https://kaggle.com) 이 플랫폼에서도 해당코드를 실행시킬 수 있습니다.


#### Option 2: Running on your computer locally

로컬 환경에서 해당코드를 실행시키려면 [Python](https://www.python.org)이 필요합니다. Python 환경을 분리시켜 관리해주는 [Conda](https://docs.conda.io/projects/conda/en/latest/user-guide/install/)를 활용하여 환경설정을 하는 것을 추천합니다.

## 변수를 이용한 정보 저장

컴퓨터의 2가지 목적에서 유용합니다: 우리가 흔히 데이터라 부르는 정보의 저장과 저장된 데이터를 가지고 연산을 진행하는 것입니다. Python과 같은 프로그래밍 언어를 사용할 때, 데이터는 변수들에 저장되어 있습니다. 변수는 데이터를 저장하는 컨테이너라고 생각할 수 있습니다. 변수에 저장되어 있는 데이터를 값이라고 부릅니다. 우리가 이전 튜토리얼에서 봤다 싶이 Python에서 변수를 만드는 것은 매우 간단합니다. [previous tutorial](https://jovian.ml/aakashns/first-steps-with-python/v/4#C15).

In [1]:
my_favorite_color = "blue"

In [2]:
my_favorite_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [3]:
color1, color2, color3 = "red", "green", "blue"

In [4]:
color1

'red'

In [5]:
color2

'green'

In [6]:
color3

'blue'

한번에 여러 연산자를 연결하여, 동일한 값을 여러 변수에 할당 할 수 있습니다.

In [7]:
color4 = color5 = color6 = "magenta"

In [8]:
color4

'magenta'

In [9]:
color5

'magenta'

In [10]:
color6

'magenta'


할당 문을 사용하여 기존 변수에 저장된 값을 변경 할 수 있습니다. 변수에 새로운 값을 할당하면 이전 값은 손실되므료 변수값을 변경할 때는 조심해야 합니다.

In [11]:
my_favorite_color = "red"

In [12]:
my_favorite_color

'red'

변수를 다시 할당할 때, 변수의 이전 값을 사용하여 새 값을 계산할 수 있습니다.

In [13]:
counter = 10

In [14]:
counter = counter + 1

In [15]:
counter

11

일반적으로 기존값의 연산을 진행하여 값을 변경할 때 `var = var op something` ( `op`는 `+`, `-`, `*`, `/` 와 같은 산술 연산자를 의미합니다.) 와 같은 형식이 일반적이므로 이것을 간편하게 하기위하여, Python에서는 대입연산자라는 것을 제공합니다.

In [16]:
counter = 10

In [17]:
# Same as `counter = counter + 4`
counter += 4

In [18]:
counter

14

변수의 이름은 짧거나(`a`, `x`, `y`), 서술적( `my_favorite_color`, `profit_margin`, `the_3_musketeers`)일 수 있지만, Python 변수명을 정할 때는 아래의 반드시 규칙을 따라야 합니다.

* 변수명은 무조건 문자 혹은 `_`로 시작해야합니다. 숫자로 시작은 안됩니다.
* 변수명은 반드시 소문자,대문자, 숫자, `_` 만 가질 수 있습니다. (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* 변수명은 대소문자가 구별된다. `a_variable`, `A_Variable`, and `A_VARIABLE` 이 3가지 모두 다른 변수들이 된다.

다음은 유효한 변수명의 예들이다.

In [19]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

다음은 적합하지 않은 변수명이다. 만약 변수명이 적합하지 않을 경우, Python 에서 syntax error를 출력 할 것 이다. 

> **Syntax**: 프로그래밍 언어의 구문은 유효한 명령 또는 문법이 있습니다. 문법이 잘 못 된 경우 Python은 실행을 중단하고 *sytax error*를 출력합니다.

In [20]:
a variable = 23

SyntaxError: invalid syntax (<ipython-input-20-b4f9daa715a5>, line 1)

In [21]:
is_today_$aturday = False

SyntaxError: invalid syntax (<ipython-input-21-3785425ca227>, line 1)

In [22]:
my-favorite-car = "Delorean"

SyntaxError: cannot assign to operator (<ipython-input-22-829f5ed5b10b>, line 1)

In [23]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

SyntaxError: invalid decimal literal (<ipython-input-23-41d8638a15bb>, line 1)

## Python의 기본 자료형

모든 Python 변수들은 자료형을 가집니다. 당신은 변수의 저장된 데이터의 자료형을 `type`함수를 통하여 알 수 있습니다.

In [27]:
a_variable

23

In [28]:
type(a_variable)

int

In [29]:
is_today_Saturday

False

In [30]:
type(is_today_Saturday)

bool

In [31]:
my_favorite_car

'Delorean'

In [32]:
type(my_favorite_car)

str

In [33]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [34]:
type(the_3_musketeers)

list

Python은 서로 다른 종류의 데이터를 변수에 저장하는 기본자료형이 있습니다. 다음은 자중 사용되는 데이터 타입들입니다.

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None,string 같이 단일 데이터를 저장하는 자료형을 *primitive data types*  . list, tuple, and dictionary 와 같은 여러개의 데이터를 저장할 수 있는 것들을 *data structure* 혹은 *container* 라고 부른다.

### Integer

Integer는 -inf에서 +inf 영역에서의 정수를 의미한다. Integer는 `int` 타입을 가진다.
Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [35]:
current_year = 2020

In [36]:
current_year

2020

In [37]:
type(current_year)

int

 다른 프로그래밍 언어와 다르게, Python에서 integer형이 `int`한개 뿐이고 값의 상한선이 없어 임의로 커지거나 작아질 수 있다.(`short`, `int`, `long`, `long long`, `unsigned int` 같이 여러개의 실수형을 가진  C/C++/Java )

In [38]:
a_large_negative_number = -23374038374832934334234317348343

In [39]:
a_large_negative_number

-23374038374832934334234317348343

In [40]:
type(a_large_negative_number)

int

### Float

Floats (부동소수점 수)소수점이 있는 수를 나타낸다. 소수점 위,아래로 제한이 없다.부동소수점 수는 `float`타입을 가진다.

In [41]:
pi = 3.141592653589793238

In [42]:
pi

3.141592653589793

In [43]:
type(pi)

float

숫자의 소수점 부분이 0인 경우에도, 소수점을 적을 경우 정수는 float로 처리됩니다.

In [44]:
a_number = 3.0

In [45]:
a_number

3.0

In [46]:
type(a_number)

float

In [47]:
another_number = 4.

In [48]:
another_number

4.0

In [49]:
type(another_number)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [50]:
one_hundredth = 1e-2

In [51]:
one_hundredth

0.01

In [52]:
type(one_hundredth)

float

In [53]:
avogadro_number = 6.02214076e23

In [54]:
avogadro_number

6.02214076e+23

In [55]:
type(avogadro_number)

float

`float`와 `int`함수를 통해 float에서 integer 혹은 그 역으로 타입을 바꿀 수 있다. 이러한 과정을 형변환이라고 한다.

In [56]:
float(current_year)

2020.0

In [57]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [58]:
int(pi)

3

In [59]:
int(avogadro_number)

602214075999999987023872

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.
산술연산자가 수행되는 동안, 피연산자가 `float`일 경우 integer들도 `float`로 변환된다. 또한, 나눗셈 연산자 `/` 의 반환값은 항상 `float`타입이다. `//`연산자를 사용하면, 반환값은 `int`가 된다.

In [60]:
type(45 * 3.0)

float

In [61]:
type(45 * 3)

int

In [62]:
type(10/3)

float

In [63]:
type(10/2)

float

In [64]:
type(10//2)

int

### Boolean

Booleans 는  `True` 와 `False` 2가지 값만 가진다. Booleans 은 `bool`타입을 가진다.

In [65]:
is_today_Sunday = True

In [66]:
is_today_Sunday

True

In [67]:
type(is_today_Saturday)

bool

Boolean은 일반적으로 비교연산자의 결과로 사용된다. (`==`, `>=`)

In [68]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [69]:
is_ice_bag_expensive

False

In [70]:
type(is_ice_bag_expensive)

bool

Boolean은 산술연산에 사용될 때, 자동으로 `int`형으로 변경된다. `True`는 1, `False`는 0 으로 변경된다.

In [71]:
5 + False

5

In [72]:
3. + True

4.0


`bool`함수를 통해 Python에서 모든 값들은 Boolean으로 변환될 수 있다.

다음은 `False`로 변환되는 값들이다. (*falsy* 값이라고 불린다.):

1. `False` 
2. integer `0`
3. float `0.0`
4. 빈 값 `None`
5. 빈 문자열 `""`
6. 빈 리스트 `[]`
7. 빈 튜플 `()`
8. 빈 딕셔너리 `{}`
9. 빈 셋 `set()`
10. 레인지 0 `range(0)`

나머지는 `True`로 표현된다.(이런식으로 `True` 표현되는 값들을 *truthy* 값이라고 한다.)

In [73]:
bool(False)

False

In [74]:
bool(0)

False

In [75]:
bool(0.0)

False

In [76]:
bool(None)

False

In [77]:
bool("")

False

In [78]:
bool([])

False

In [79]:
bool(())

False

In [80]:
bool({})

False

In [81]:
bool(set())

False

In [82]:
bool(range(0))

False

In [83]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

비어있는 값을 의미하는 `None`값만을 단일로 가진 변수의 타입을 None 타입이라고 합니다. 나중에 값을 할당할 수 있는 변수를 미리 선언할때 자주 사용됩니다.

In [84]:
nothing = None

In [85]:
type(nothing)

NoneType

### String(문자열)
String은 텍스트를 표현할 때 사용됩니다. String `'` 혹은 `"`으로 감싸져있다. String은 `string` 타입을 가진다.

In [86]:
today = "Saturday"

In [87]:
today

'Saturday'

In [88]:
type(today)

str

`""` 안에  `''`을 포함시킬 수 있습니다.

In [89]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [90]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [91]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [92]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

 `\`을 사용하여 `""`안에서 `""`을 표현할 수 있다.

In [93]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [94]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'


 `'''` 혹은 `"""` 을 이용하여, 단일 라인이 아닌 복수의 라인에 거쳐 문자열을 받을 수 있다.

In [95]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

In [96]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

복수열 문자열 `print`함수를 사용할 때 유용하다.

In [97]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [98]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [99]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

`len` 함수를 통하여 문자열의 길이를 알 수 있다.

In [100]:
len(my_favorite_movie)

31

`\n`  길이가 2인 문자열로 보일지라도. 한개의 1개의 char형입니다.

In [101]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [102]:
len(multiline_string)

3


문자열은 `list` 함수를 사용하여 문자 목록으로 변환할 수 있습니다.

In [103]:
list(multiline_string)

['a', '\n', 'b']

문자열은 다음 섹션에서 설명하는 여러가지 작업을 지원합니다.
`[]` 를 사용하여 문자열 내의 개별문자에 접근할 수 있습니다. 접근할수 있는 값은 `0`~`n-1`로 여기서 `n`은 문자열의 길이를 의미합니다.

In [104]:
today = "Saturday"

In [105]:
today[0]

'S'

In [106]:
today[3]

'u'

In [107]:
today[7]

'y'


`[]` 에서 단일 인데스 대신 `start:end` 범위값을 넣어 문자열의 일부에 접근할 수 있습니다.

In [108]:
today[5:8]

'day'


`in` 연산자를 사용하여 문자열에 특정 문자열이 포함되어 있는 여부를 확인 할 수 있습니다.

In [109]:
'day' in today

True

In [110]:
'Sun' in today

False

`+` 연산자를 사용하여 복수의 문자열을 결합할 수 있습니다. 문자열을 연결할 때 주의점은 단어 사이에 공백문자를 `" "`를 추가 해야 할 수 있습니다.

In [111]:
full_name = "Derek O'Brien"

In [112]:
greeting = "Hello"

In [113]:
greeting + full_name

"HelloDerek O'Brien"

In [114]:
greeting + " " + full_name + "!" # additional space

"Hello Derek O'Brien!"


Python 문자열에는 문자열 조작에 사용되는 **Methods** 가 내장되어 있습니다. 일반적인 문자열 메서드 몇 가지를 사용해 보겠습니다.

> **Methods**: 데이터 유형과 관련된 함수이며, `.`을 이용하여 `variable_name.method()` 혹은 `"a string".method()` 같은 표기법을 통해 접근할 수 있다. 

`.lower()`, `.upper()` , `.capitalize()` 메서드는 문자의 대/소문자를 변경하는데 사용됩니다.

In [115]:
today.lower()

'saturday'

In [116]:
"saturday".upper()

'SATURDAY'

In [117]:
"monday".capitalize() # changes first character to uppercase

'Monday'

`.replace`메서드는 문자열의 일부를 다른 문자열로 대체합니다. 대체될 부분과 대체 문자열을 **input** 또는 **args** 로 사용합니다.

In [118]:
another_day = today.replace("Satur", "Wednes")

In [119]:
another_day

'Wednesday'

`replace`는 새 문자열을 반환하며 원래 문자열은 수정되지 않습니다.

In [120]:
today

'Saturday'

`.split` 메서드는 제공된 문자가 발생할 때마다 문자열을 문자열 list 로 분할 합니다.

In [121]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

`.strip` 메서드는 문자열의 양 끝의 공백문자를 제거합니다.

In [122]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [123]:
a_long_line_stripped = a_long_line.strip()

In [124]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

`.format` 메서드는 integer, float, boolean, list등 과 같은 다른 데이터 유형의 값을 문자열과 결합하니다. 출력 메세지를 표시하기 위해 `.format`을 사용할 수 있습니다.

In [125]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [126]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

`output_template` 문자열의 자리 표시자 `{}`이 `.format` 메서드에 제공된 인수로 대체되는 방법을 확인하십시오.

문자열 연결 연산자 `+`를 사용하여 문자열을 다른 값과 결합할 수도 있습니다. 그러나 먼저 str 함수를 사용하여 문자열로 변환해야 합니다.

In [127]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [128]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

`str`함수를 사용하여, 모든 타입을 string 타입으로 바꿀 수 있습니다.

In [129]:
str(23)

'23'

In [130]:
str(23.432)

'23.432'

In [131]:
str(True)

'True'

In [132]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

모든 문자열 메서드는 새 값을 반환하며 기존 문자열은 변경하지 마십시오. 문자열 메서드의 전체 목록은 https://www.w3schools.com/python/python_ref_string.asp에서 확인할 수 있습니다.

문자열은 비교 연산자 `==`와 `!=`도 지원합니다. 두 문자열이 동일한지 여부를 확인합니다.

In [133]:
first_name = "John"

In [134]:
first_name == "Doe"

False

In [135]:
first_name == "John"

True

In [136]:
first_name != "Jane"

True

### List

Python의 목록은 순서대로 정렬된 값의 모음입니다. 목록에는 서로 다른 데이터 유형의 값이 포함될 수 있으며 값을 추가, 제거 및 변경하는 작업을 지원할 수 있습니다. 목록에는 `list` 유형이 있습니다.

목록을 생성하려면 값의 시퀀스를 쉼표로 구분된 대괄호 `[` 및 `]` 안에 묶으십시오.

In [138]:
fruits = ['apple', 'banana', 'cherry']

In [139]:
fruits

['apple', 'banana', 'cherry']

In [140]:
type(fruits)

list

다른 목록을 포함하여 다양한 데이터 유형의 값이 포함된 목록을 만들어 보겠습니다.

In [141]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [142]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [143]:
empty_list = []

In [144]:
empty_list

[]

목록의 값 수를 확인하려면 `len` 함수를 사용합니다. `len`을 사용하여 다른 여러 데이터 유형의 값 수를 확인할 수 있습니다.

In [145]:
len(fruits)

3

In [146]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [147]:
len(a_list)

6

In [148]:
len(empty_list)

0

**index**를 사용하여 목록에서 요소에 액세스할 수 있습니다. 예를 들어, `fruits[2]`는 목록 내 인덱스 2에 있는 요소를 반환합니다. 목록의 시작 인덱스는 0입니다.

In [149]:
fruits[0]

'apple'

In [150]:
fruits[1]

'banana'

In [151]:
fruits[2]

'cherry'

목록 길이 이상의 인덱스에 액세스하려고 하면 Python은 `IndexError`를 반환합니다.

In [152]:
fruits[3]

IndexError: list index out of range

In [153]:
fruits[4]

IndexError: list index out of range

음수 인덱스를 사용하여 목록의 끝에 있는 요소에 접근할 수 있습니다. 예를 들어, `fruits[-1]`는 마지막 요소를 반환하고, `fruits[-2]`는 두 번째 마지막 요소를 반환하는 등의 작업을 수행합니다.

In [154]:
fruits[-1]

'cherry'

In [155]:
fruits[-2]

'banana'

In [156]:
fruits[-3]

'apple'

In [157]:
fruits[-4]

IndexError: list index out of range

list에서 값의 범위에도 액세스할 수 있습니다. 결과는 그 자체로 list입니다. 몇 가지 예를 들어 봅시다.

In [158]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [159]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [160]:
len(a_list)

6

In [161]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).
범위 '2:5'는 시작 지수 '2'의 요소를 포함하지만 끝 지수 '5'의 요소는 포함하지 않습니다. 즉, 그 결과는 3개의 값(지수 2, 3, 4)을 갖는다.

다음은 몇 가지 실험입니다(아래 빈 셀 사용):

* T범위의 하나 또는 두 지수를 목록의 크기보다 크게 설정해 보십시오., e.g., `a_list[2:10]`
* 범위의 시작 인덱스를 종료 인덱스보다 크게 설정해 보십시오., e.g., `list_a[2:10]`
* 범위의 시작 또는 종료 인덱스를 생략해 보십시오., e.g., `a_list[2:]` or `a_list[:5]`
* 범위에 대해 음수 지수를 사용해 보십시오., e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

할당 작업을 사용하여 목록 내의 특정 인덱스에서 값을 변경할 수도 있습니다.

In [162]:
fruits

['apple', 'banana', 'cherry']

In [163]:
fruits[1] = 'blueberry'

In [164]:
fruits

['apple', 'blueberry', 'cherry']

list 끝에 `append` 메서드를 사용하여 새 값을 추가할 수 있습니다.

In [165]:
fruits.append('dates')

In [166]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

`insert`메서드를 사용하여 특정 인덱스에 새 값을 삽입할 수도 있습니다.

In [167]:
fruits.insert(1, 'banana')

In [168]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

list에서 `remove` 메서드를 사용하여 값을 제거할 수 있습니다.

In [169]:
fruits.remove('blueberry')

In [170]:
fruits

['apple', 'banana', 'cherry', 'dates']

list에 `.remove`에 전달된 값의 인스턴스가 여러 개 있는 경우 어떻게 됩니까? 한 번 해보세요.

특정 인덱스에서 요소를 제거하려면 `pop` 메서드을 사용합니다. 메서드는 제거된 요소를 반환합니다.

In [171]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [172]:
fruits.pop(1)

'banana'

In [173]:
fruits

['apple', 'cherry', 'dates']

인덱스를 주지 않으면, `pop`메서드가 list의 마지막 요소를 제거합니다.

In [174]:
fruits.pop()

'dates'

In [175]:
fruits

['apple', 'cherry']

`in`연산자를 사용하여 list에 값이 포함되어 있는지 여부를 확인 할 수 있습니다.

In [176]:
'pineapple' in fruits

False

In [177]:
'cherry' in fruits

True

`+`연산자를 통해 list들을 결합할 수 있습니다. 해당 연산자를 *concatenation* 라고 한다.

In [178]:
fruits

['apple', 'cherry']

In [179]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [180]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

`copy` 함수를 통하여 list를 복사본을 만들 수 있다. 복사본은 원본의 영향을 주지 않는다.

In [181]:
more_fruits_copy = more_fruits.copy()

In [182]:
more_fruits_copy

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [183]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [184]:
# Original list remains unchanged
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

대입 연산자 `=`를 사용하여 새 변수를 생성하는 것만으로는 목록의 복사본을 만들 수 없습니다. 새 변수는 동일한 목록을 가리키며, 두 변수 중 하나를 사용하여 수행된 수정 작업은 다른 변수에 영향을 미칩니다.

In [185]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [186]:
more_fruits_not_a_copy = more_fruits

In [187]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [188]:
more_fruits_not_a_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [189]:
more_fruits

['apple', 'cherry', 'tomato', 'guava', 'dates']

문자열과 마찬가지로 list을 조작할 수 있는 몇 가지 기본 제공 방법이 있습니다. 그러나 문자열과 달리 대부분의 list 메서드는 새 목록을 반환하는 대신 원래 list을 수정합니다.
list연산자는 해당 사이트에서 확인할 수 있습니다.e: https://www.w3schools.com/python/python_ref_list.asp .


예제를 따라해보고 list 메서드를 사용해봅시다. (아래 빈 셀을 사용하세요):

* list의 요소 순서를 반대로 지정합니다.
* 다른 list 끝에 또 다른 list의 요소 추가
* 문자열 list를 사전순으로 정렬합니다.
* 숫자 list를 내림차순으로 정렬합니다.

### Tuple

tuple은 list과 유사하게 순서대로 정렬된 값의 모음입니다. 그러나 tuple에서는 값을 추가, 제거 또는 수정할 수 없습니다. tuple은 값을 쉼표로 구분된 괄호`( ` ` )` 안에 넣어 생성합니다.

>  생성 후 수정할 수 없는 데이터 구조를 *immutable*이라고 합니다. tuple은 immutable list로 생각 할 수 있다.

In [190]:
fruits = ('apple', 'cherry', 'dates')

In [191]:
# check no. of elements
len(fruits)

3

In [192]:
# get an element (positive index)
fruits[0]

'apple'

In [193]:
# get an element (negative index)
fruits[-2]

'cherry'

In [194]:
# check if it contains an element
'dates' in fruits

True

In [195]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [196]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [197]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

tuple을 생성할 때 괄호 `(` 및 `)`를 건너뛸 수도 있습니다. Python은 자동으로 쉼표로 구분된 값을 tuple로 변환합니다.

In [198]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [199]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

요소 뒤에 쉼표를 입력하여 요소가 하나만 있는 tuple을 생성할 수도 있습니다. 괄호만 붙여도 tuple이 되지 않는다.

In [200]:
single_element_tuple = 4,

In [201]:
single_element_tuple

(4,)

In [202]:
another_single_element_tuple = (4,)

In [203]:
another_single_element_tuple

(4,)

In [204]:
not_a_tuple = (4)

In [205]:
not_a_tuple

4

Tuple은 종종 한줄에서 복수의 변수를 선언할 때 사용된다.

In [206]:
point = (3, 4)

In [207]:
point_x, point_y = point

In [208]:
point_x

3

In [209]:
point_y

4

`tuple`함수를 사용하여 list를 tuple로 변환하거나, `list`함수를 사용하여 list를 tuple로 변환할 수 있습니다.

In [210]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [211]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuple에는 `count`와 `index`의 두 가지 기본 메서드 있습니다. 이러한 메서드들은 `help`함수를 사용하여 설명서를 확인할 수 있습니다.

In [212]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [213]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

Jupyter notebook에서 `?`로 코드셀을 시작하고 함수나 메서드의 이름을 입력할 수 있습니다. 이 셀을 실행하면 팝업창에 기능/메서드의 설명서가 표시됩니다.

In [214]:
?a_tuple.index

`count` 와 `index` 를 `a_tuple`에 적용해 보자

### Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [215]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [216]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionary은 `dict` 함수를 통해 만들 수 있다.

In [217]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [218]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [219]:
type(person1)

dict


`[`  `]` 사이에 키값을 넣어줌으로써 값에 접근할 수 있다.

In [220]:
person1['name']

'John Doe'

In [221]:
person1['married']

True

In [222]:
person2['name']

'Jane Judy'

dictionary에 없는 키값을 주었을 경우,  `KeyError` 가 발생한다.

In [223]:
person1['address']

KeyError: 'address'


`get`메서드를 사용하여 키값에 해당하는 값의 접근 할 수 있다.

In [224]:
person2.get("name")

'Jane Judy'


`get`메서드도 dictionary에 키가 없으면 초기값을 반환합니다.

In [225]:
person2.get("address", "Unknown")

'Unknown'

`in` 연산자를 사용하여, 해당 키값의 존재여부를 판단할 수 있습니다.

In [226]:
'name' in person1

True

In [227]:
'address' in person1

False

대입연산자를 통하여 키값에 해당하는 값을 변경 할 수 있다.

In [228]:
person2['married']

False

In [229]:
person2['married'] = True

In [230]:
person2['married']

True


dictionary에서 대입연산자를 통해 `새로운 키-값` 쌍을 넣을 수 있다.

In [231]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [232]:
person1['address'] = '1, Penny Lane'

In [233]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

`pop`함수를 사용하여 키값과 해당 값을 제거할 수 있다.

In [234]:
person1.pop('address')

'1, Penny Lane'

In [235]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}


Dictionary 에서는 키, 값 , 키-값 쌍의 list을 보여주는 메서드를 제공한다.

In [236]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [237]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [238]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [239]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

`keys`,`values`,`items` 결과는 list형으로 보입니다. 하지만, 인덱싱 연산자 `[]`를 지원하지는 않습니다.

위 함수의 결과에서 특정 인덱스의 요소에 접근하는 방법은 무엇일까요?       **hint** : 'list' 기능 사용

Dictionaries 는 다양한 메서드를 제공합니다. 추가적으로 더 관심이 있으시면 다음 사이트를 참고하세요.: https://www.w3schools.com/python/python_ref_dictionary.asp .

Here are some experiments you can try out with dictionaries 
다음 연습문제를 풀어보세요(아래 빈 셀을 사용하세요.):
* 만약에 동일한 dictionary를 선언할 때, 동일한 키값을 여러번 선언한다면 어떯게 될까?
* dictionary를 복사하려면 어떻게 해야 할까?(수정하여도 원본에는 영향이 가지 않는다.)?
* 키 자체와 관련된 값이 dictionary가 될 수 있는가?
* dictionary의 키-값 쌍을 다른 dictionary의 추가를 어떻게 해야 할까? Hint:  `update` 메서드 참조.
* 키값이 문자열이 아니어도 되는가,  숫자, boolean, list, 등.?

## Further Reading

이제 Python에서 변수와 공통 데이터 유형에 대한 탐list을 완료했습니다. 다음은 Python의 데이터 유형에 대해 자세히 알아보기 위한 몇 가지 리소스입니다.:

* Python official documentation: https://docs.python.org/3/tutorial/index.html
* Python Tutorial at W3Schools: https://www.w3schools.com/python/
* Practical Python Programming: https://dabeaz-course.github.io/practical-python/Notes/Contents.html

다음 튜토리얼로 넘어갈 준비가 되었습니다.: [Branching using conditional statements and loops in Python](https://jovian.ml/aakashns/python-branching-and-loops)

## Questions for Revision

다음 질문에 답하여 이 노트에 포함된 항목에 대한 이해도를 테스트해 보십시오:

1. Python의 변수는 무엇입니까?
2. 변수는 어떻게 생성합니까?
3. 변수 내의 값은 어떻게 확인합니까?
4. 단일 문장에서 여러 변수를 생성하려면 어떻게 해야 합니까?
5. 동일한 값으로 여러 변수를 생성하려면 어떻게 해야 합니까?
6. 변수의 값은 어떻게 변경합니까?
7. 이전 값을 수정하여 변수를 재할당하려면 어떻게 해야 합니까?
8. '카운터+= 4'라는 문구는 어떤 역할을 합니까?
9. 변수 이름 지정 규칙은 무엇입니까?
10. 변수 이름은 대소문자를 구분합니까? a_variable, A_Variable, A_VARIable은 같은 변수입니까, 아니면 다른 변수입니까?
11. 구문이란 무엇입니까? 그게 왜 중요한가요?
12. 구문이 잘못된 문을 실행하면 어떻게 됩니까?
13. 변수의 데이터 유형은 어떻게 확인합니까?
14. Python에 내장된 데이터 유형은 무엇입니까?
15. 원시 데이터 유형은 무엇입니까?
16. Python에서 사용할 수 있는 원시 데이터 유형은 무엇입니까?
17. 데이터 구조 또는 컨테이너 데이터 유형은 무엇입니까?
18. Python에서 사용할 수 있는 컨테이너 유형은 무엇입니까?
19. 정수 데이터 유형은 어떤 종류의 데이터를 나타냅니까?
20. 정수 데이터 유형의 숫자 한계는 얼마입니까?
21. 부동 데이터 유형은 어떤 종류의 데이터를 나타냅니까?
22. Python은 주어진 숫자가 부동수인지 정수인지를 어떻게 결정합니까?
23. 4와 같이 정수(예: 4)를 저장하지만 데이터 유형이 부동인 변수를 생성하려면 어떻게 해야 합니까?
24. 초대형(예: 6.023 x 10^23) 또는 초소형(0.0000123)을 나타내는 플로트를 생성하려면 어떻게 해야 합니까?
25. 23e-12라는 표현은 무엇을 의미합니까?
26. 플로트를 사용하여 숫자를 무한정 정밀하게 저장할 수 있습니까?
27. 정수와 부유물의 차이점은 무엇입니까?
28. 정수를 부동수로 변환하려면 어떻게 해야 합니까?
29. 플로트를 정수로 변환하려면 어떻게 해야 합니까?
30. 1.99를 정수로 변환하면 어떤 결과를 얻을 수 있습니까?
31. 사업부 사업자의 결과 데이터 유형은 무엇입니까?
32. 부울 데이터 유형은 어떤 종류의 데이터를 나타냅니까?
33. 어떤 종류의 Python 연산자가 부울을 반환합니까?
34. 산술 연산에 부울을 사용하려고 하면 어떻게 됩니까?
35. Python의 어떤 값을 부울에 적용할 수 있습니까?
36. 진실되고 그릇된 가치란 무엇인가?
37. 파이썬에서 False로 평가하는 값은 무엇입니까?
38. True로 평가되는 값의 예를 몇 가지 제시합니다.
39. 데이터 없음 유형은 어떤 종류의 데이터를 나타냅니까?
40. '없음'의 목적은 무엇입니까?
41. 문자열 데이터 유형은 어떤 종류의 데이터를 나타냅니까?
42. Python에서 문자열을 만드는 다른 방법은 무엇입니까?
43. 작은따옴표를 사용하여 만드는 문자열과 큰따옴표를 사용하여 만드는 문자열의 차이점은 무엇입니까?
44. Python에서 다중 줄 문자열을 어떻게 생성합니까?
45. 줄 바꿈 문자 '\n'은 무엇입니까?
46. 탈출한 캐릭터는 무엇입니까? 그것들은 어떻게 유용합니까?
47. 끈의 길이는 어떻게 확인합니까?
48. 문자열을 문자 목록으로 변환하려면 어떻게 해야 합니까?
49. 문자열에서 특정 문자에 액세스하려면 어떻게 해야 합니까?
50. 문자열에서 다양한 문자에 액세스하려면 어떻게 해야 합니까?
51. 문자열에서 특정 문자가 발생하는지 어떻게 확인합니까?
52. 큰 문자열 내에서 작은 문자열이 발생하는지 확인하려면 어떻게 해야 합니까?
53. 어떻게 두 개 이상의 줄을 잇나요?
54. 파이썬의 "methods"란 무엇입니까? 기능과는 어떻게 다릅니까?
55. 문자열에 대한 '.lower', '.upper', '.capitalizate' 방법은 무엇입니까?
56. 문자열의 특정 부분을 다른 부분으로 교체하려면 어떻게 해야 합니까?
57. "일, 월, 화, 수, 투, 금, 토" 줄을 어떻게 일 목록으로 나눕니까?
58. 문자열의 처음과 끝에서 공백을 제거하려면 어떻게 해야 합니까?
59. 문자열 '.format'의 용도는 무엇입니까? 예를 들어주실 수 있나요?
60. 문자열 연결 대신 .format 방식을 사용하면 어떤 이점이 있습니까?
61. 다른 유형의 값을 문자열로 변환하려면 어떻게 해야 합니까?
62. 두 문자열의 값이 동일한지 어떻게 확인합니까?
63. 문자열로 지원되는 모든 메서드 목록을 어디에서 찾을 수 있습니까?
64. Python의 목록은 무엇입니까?
65. 목록을 어떻게 생성합니까?
66. Python 목록에 서로 다른 데이터 유형의 값이 포함될 수 있습니까?
67. 목록에 다른 목록이 포함될 수 있습니까?
68. 값 없이 목록을 만들 수 있습니까?
69. Python에서 목록의 길이를 어떻게 확인합니까?
70. 목록에서 값을 검list하려면 어떻게 해야 합니까?
71. 5가지 요소가 포함된 목록에서 요소에 액세스하는 데 사용할 수 있는 가장 작고 가장 큰 인덱스은 무엇입니까?
72. 목록 크기와 같거나 큰 인덱스에 액세스하려고 하면 어떻게 됩니까?
73. 목록 내에서 마이너스 인덱스에 액세스하려고 하면 어떻게 됩니까?
74. 목록에서 다양한 요소에 액세스하려면 어떻게 해야 합니까?
75. 'a_list[2:5]' 식으로 반환되는 목록에는 요소가 몇 개 포함되어 있습니까?
76. 'a_list[:2]' 및 'a_list[2:]' 범위는 무엇을 의미합니까?
77. 목록 내의 특정 인덱스에 저장된 항목을 변경하려면 어떻게 해야 합니까?
78. 목록의 시작, 중간 또는 끝에 새 항목을 삽입하려면 어떻게 해야 합니까?
79. 목록에서 항목을 제거하려면 어떻게 해야 합니까?
81. 목록에서 지정된 인덱스의 항목을 제거하려면 어떻게 해야 합니까?
82. 목록에 값이 포함되어 있는지 어떻게 확인합니까?
83. 어떻게 두 개 또는 대부분의 목록을 결합하여 더 큰 목록을 만들 수 있습니까?
84. 목록의 복사본을 어떻게 생성합니까?
85. 'a_new_list = a_list' 식이 목록 'a_list'를 생성합니까?
86. 목록에서 지원되는 모든 방법 목록을 어디에서 찾을 수 있습니까?
87. 파이썬에서 튜플이란 무엇인가?
88. 튜플과 리스트는 어떻게 다른가요?
89. 튜플에 요소를 추가하거나 제거할 수 있습니까?
90. 요소 하나로 튜플을 생성하려면 어떻게 해야 합니까?
91. 어떻게 튜플을 목록으로 변환하고 그 반대로 변환합니까?
92. 튜플의 카운트(count)와 인덱스(index) 방식은 무엇에 사용됩니까?
93. Python 사전은 무엇입니까?
94. 사전을 어떻게 만드나요?
95. 키와 값은 무엇입니까?
96. 사전에 있는 특정 키와 관련된 값에 액세스하려면 어떻게 해야 합니까?
97. 사전에 없는 키의 값에 액세스하려고 하면 어떻게 됩니까?
98. 사전의 .get 방법은 무엇입니까?
99. 사전의 키와 관련된 값을 변경하는 방법은 무엇입니까?
100. 사전에서 키-값 쌍을 추가하거나 제거하는 방법은 무엇입니까?
101. 사전에서 키, 값 및 키-값 쌍에 액세스하려면 어떻게 해야 합니까?