# Python의 변수 및 자료형 요약
![](https://i.imgur.com/6cg2E9Q.png)

## Part 2: Python을 사용한 데이터 분석: 0부터 Pandas까지

본 튜토리얼 시리즈는 초보자를 위한 Python을 이용한 프로그래밍과 데이터 분석을 소개합니다.   
이 튜토리얼은 실용적이고 코딩 중심적인 접근으로 진행됩니다.
본 튜토리얼을 효율적으로 학습하는 가장 좋은 방법은 코드를 실행하고 직접 사용해 보는 것입니다.

<!--# A Quick Tour of Variables and Data Types in Python

![](https://i.imgur.com/6cg2E9Q.png)

### Part 2 of "Data Analysis with Python: Zero to Pandas"

이 튜토리얼 시리즈는 Python 프로그래밍 언어를 사용한 프로그래밍 및 데이터 분석에 대한 초보자 친화적인 소개입니다.
이러한 튜토리얼은 실용적이고 코딩 중심의 접근 방식을 취합니다. 자료를 배우는 가장 좋은 방법은 코드를 실행하고 직접 사용해 보는 것입니다.-->

해당 튜토리얼에서는 다음 주제를 다룹니다.:

- 변수를 사용한 값의 저장
- Python에서의 기본 자료형: Integer, Float, Boolean, None and String
- Python에서의 기본 자료구조: List, Tuple and Dictionary
- 기본 자료형에서 지원되는 메서드 및 연산자

### 코드 실행 방법

### Option 1: 무료 온라인 리소스를 사용하여 실행

무료로 제공되는 온라인 리소스를 사용하여 실행하는 방법입니다.  
**Run** 버튼을 클릭한 뒤 **Run on Binder**를 선택하여 해당코드를 실행시킬 수 있습니다.  

"Run on Colab" 혹은 "Run on Kaggle"을 선택하여 [Google Colab](https://colab.research.google.com) 혹은[Kaggle](https://kaggle.com) 이 플랫폼에서도 해당코드를 실행시킬 수 있지만,  
이러한 플랫폼을 사용하려면 [Google Colab](https://colab.research.google.com) 또는 [Kaggle](https://kaggle.com)에서 계정을 생성해야 합니다.

### Option 2: 컴퓨터에서 로컬로 실행
로컬 환경에서 해당코드를 실행시키려면 [Python](https://www.python.org)이 필요하고, Jupyter Notebooks을 다운로드 한 후 필요한 라이브러리를 설치해야 합니다.  
Python 환경을 분리시켜 관리해주는 [Conda](https://docs.conda.io/projects/conda/en/latest/user-guide/install/)를 활용하여 환경설정을 하는 것을 추천합니다.


> **Jypyter Notebooks** : 이 튜토리얼은 [Jupyter notebook](https://jupyter.org)으로 만들었습니다.
각 셀은 Python으로 작성된 코드나 간단한 설명을 포함할 수 있습니다.
코드 셀을 실행하고, 실행결과(숫자, 문자, 그래프, 테이블, 파일 등)를 Jupyter Notebook 내에서 즉시 볼 수 있습니다.
Jupyter는 실험과 분석을 위한 플랫폼이므로, 코드가 지저분하게 작성되어있거나 여러 셀에 나뉘어진 상태에서 문제를 해결하는 것을 절대 두려워하지 마십시오.
오류를 발견하고 수정하는 과정에서 많은 것을 배울 수 있으며, 상단의 "모든 셀의 출력 지우기" 옵션을 사용하여 모든 출력을 지우고 위에서부터 다시 시작할 수 있습니다.

<!--### How to run the code

[Jupyter notebook](https://jupyter.org)을 통하여 해당 튜토리얼을 실행할 수 있습니다. 해당 튜토리얼에서는 코드예제를 실험해볼 수 있습니다.

#### Option 1: Running using free online resources (1-click, recommended)

**Run** 버튼을 클릭하뒤 **Run on Binder**를 선택하여 해당코드를 실행시킬수 있습니다. "Run on Colab" 혹은 "Run on Kaggle"을 선택하여 [Google Colab](https://colab.research.google.com) 혹은[Kaggle](https://kaggle.com) 이 플랫폼에서도 해당코드를 실행시킬 수 있습니다.


#### Option 2: Running on your computer locally

로컬 환경에서 해당코드를 실행시키려면 [Python](https://www.python.org)이 필요합니다. Python 환경을 분리시켜 관리해주는 [Conda](https://docs.conda.io/projects/conda/en/latest/user-guide/install/)를 활용하여 환경설정을 하는 것을 추천합니다.
-->

## 변수를 이용한 정보 저장

* 컴퓨터의 2가지 목적에서 유용합니다: 우리가 흔히 데이터라 부르는 정보의 저장과 저장된 데이터를 가지고 연산을 진행하는 것입니다.  
* Python과 같은 프로그래밍 언어를 사용할 때, 데이터는 변수들에 저장되어 있습니다. 변수는 데이터를 저장하는 컨테이너라고 생각할 수 있습니다. 변수에 저장되어 있는 데이터를 값이라고 부릅니다.  
* 우리가 이전 튜토리얼에서 봤다시피 Python에서 변수를 만드는 것은 매우 간단합니다.

In [5]:
my_favorite_color = "blue"

In [6]:
my_favorite_color

'blue'

변수는 할당문을 사용해서 생성할 수 있습니다.  
변수 이름, 할당 연산자 '='로 시작하고, 변수 내에 저장될 값을 차례대로 지정합니다.  
이 때, 할당 연산자 '='는 동등 비교 연산자 '=='와 다름을 기억해야 합니다.

변수 이름과 값을 쉼표로 구분하여 단일 문에서 여러 변수에 값을 할당할 수도 있습니다.
<!--A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.-->

In [1]:
color1, color2, color3 = "red", "green", "blue"

In [2]:
color1

'red'

In [3]:
color2

'green'

In [4]:
color3

'blue'

한번에 여러 연산자를 연결하여, 동일한 값을 여러 변수에 할당 할 수 있습니다.

In [7]:
color4 = color5 = color6 = "magenta"

In [8]:
color4

'magenta'

In [9]:
color5

'magenta'

In [10]:
color6

'magenta'

할당문을 사용하여 기존 변수에 저장된 값을 변경 할 수 있습니다. 변수에 새로운 값을 할당하면 이전 값은 손실되므료 변수값을 변경할 때는 조심해야 합니다.

In [7]:
my_favorite_color = "red" # 위쪽 코드 셀에서 my_favorite_color 변수에 "blue"를 할당했었음.

In [8]:
my_favorite_color

'red'

변수에 새로운 값을 다시 할당할 때, 변수에 이미 저장된 값을 사용하여 새로운 값을 계산할 수 있습니다.  
아래 예제를 보면 쉽게 이해할 수 있습니다.

In [13]:
counter = 10

In [14]:
counter = counter + 1

In [15]:
counter

11

일반적으로 기존에 저장된 값의 연산을 진행하여 값을 변경할 때 `var = var op something` ( `op`는 `+`, `-`, `*`, `/` 와 같은 산술 연산자를 의미합니다.) 와 같은 형식이 일반적이므로  
이것을 간편하게 하기위하여, Python에서는 대입연산자라는 것을 제공합니다.

In [16]:
counter = 10

In [17]:
# Same as `counter = counter + 4`
counter += 4

In [18]:
counter

14

변수의 이름은 짧거나(`a`, `x`, `y`), 서술적( `my_favorite_color`, `profit_margin`, `the_3_musketeers`)일 수 있지만, Python 변수명을 정할 때는 아래의 반드시 규칙을 따라야 합니다.

* 변수명은 무조건 문자 혹은 `_`로 시작해야합니다. 숫자로 시작할 수 없습니다.
* 변수명은 반드시 소문자,대문자, 숫자, `_` 만 가질 수 있습니다. (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* 변수명은 대소문자가 구별됩니다. `a_variable`, `A_Variable`, and `A_VARIABLE` 이 3가지 모두 다른 변수입니다.

아래는 유효한 이름의 변수명 입니다.

In [19]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

다음은 적합하지 않은 변수명이다. 만약 변수명이 적합하지 않을 경우, Python 에서 syntax error를 출력 할 것 이다. 

> **Syntax**: 프로그래밍 언어의 구문은 유효한 명령 또는 문법이 있습니다. 문법이 잘못 된 경우 Python은 실행을 중단하고 *sytax error*를 출력합니다.

In [20]:
a variable = 23

SyntaxError: invalid syntax (<ipython-input-20-b4f9daa715a5>, line 1)

In [21]:
is_today_$aturday = False

SyntaxError: invalid syntax (<ipython-input-21-3785425ca227>, line 1)

In [22]:
my-favorite-car = "Delorean"

SyntaxError: cannot assign to operator (<ipython-input-22-829f5ed5b10b>, line 1)

In [23]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

SyntaxError: invalid decimal literal (<ipython-input-23-41d8638a15bb>, line 1)

## Python의 기본 자료형

모든 Python 변수들은 자료형을 가집니다. 당신은 변수의 저장된 데이터의 자료형을 `type` 메서드를 통하여 알 수 있습니다.

In [27]:
a_variable

23

In [28]:
type(a_variable)

int

In [29]:
is_today_Saturday

False

In [30]:
type(is_today_Saturday)

bool

In [31]:
my_favorite_car

'Delorean'

In [32]:
type(my_favorite_car)

str

In [33]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [34]:
type(the_3_musketeers)

list

Python은 서로 다른 종류의 데이터를 변수에 저장하는 기본 자료형이 있습니다. 다음은 자주 사용되는 자료형들입니다.

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None,string 같이 단일 데이터를 저장하는 자료형을 *primitive data types* 라고 합니다.  
list, tuple, and dictionary 와 같이 여러개의 데이터를 저장할 수 있는 자료형들을 *data structure* 혹은 *container* 라고 부릅니다.

### Integer

Integer는 -inf(음의 무한대)에서 +inf(무한대) 영역에서의 양의 정수와 음의 정수를 의미합니다.  
정수에는 소수점이 포함되지 않아야 하며, Integer는 `int` 타입을 가집니다.
<!--Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.-->

In [35]:
current_year = 2020

In [36]:
current_year

2020

In [37]:
type(current_year)

int

 다른 프로그래밍 언어와 다르게, Python에서 integer형이 `int`한개 뿐이고 값의 상한선이 없어 임의로 커지거나 작아질 수 있습니다.  

 (C/C++/Java는 `short`, `int`, `long`, `long long`, `unsigned int` 같이 여러개의 실수형을 가집니다.)

In [38]:
a_large_negative_number = -23374038374832934334234317348343

In [39]:
a_large_negative_number

-23374038374832934334234317348343

In [40]:
type(a_large_negative_number)

int

### Float

Floats (부동소수점 수)소수점이 있는 수를 나타냅니다. 소수점 위,아래로 제한이 없으며, 부동소수점 수는 `float`타입을 가집니다.

In [41]:
pi = 3.141592653589793238

In [42]:
pi

3.141592653589793

In [43]:
type(pi)

float

숫자의 소수점 부분이 0인 경우에도, 소수점을 적을 경우 정수는 float로 처리됩니다.  
아래 예시를 보면 잘 이해할 수 있을 것입니다.

In [44]:
a_number = 3.0

In [45]:
a_number

3.0

In [46]:
type(a_number)

float

In [47]:
another_number = 4.

In [48]:
another_number

4.0

In [49]:
type(another_number)

float

부동소수점 수는 10의 거듭제곱을 나타내기 위헤 "e"와 함께 과학적 표기법을 사용하여 쓸 수도 있습니다.
<!--Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.-->

In [50]:
one_hundredth = 1e-2

In [51]:
one_hundredth

0.01

In [52]:
type(one_hundredth)

float

In [53]:
avogadro_number = 6.02214076e23

In [54]:
avogadro_number

6.02214076e+23

In [55]:
type(avogadro_number)

float

아래와 같이 float에서 integer 혹은 그 역으로 자료형(데이터 타입)을 바꿀 수 있습니다. 이러한 과정을 **형변환(Casting)** 이라고 합니다.

In [56]:
float(current_year)

2020.0

In [57]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [58]:
int(pi)

3

In [59]:
int(avogadro_number)

602214075999999987023872

산술 연산을 수행하는 동안, 피연산자가 부동소수일 경우 즉, 'float'일 경우 정수는 자동으로 'float'로 변환됩니다.  
또한 나눗셈 연산자 '/'는 두 피연산자가 모두 정수일지라도 항상 'float'를 반환합니다.  
나눗셈 결과, 즉 반환값을 'int'로 만드려면, '//' 연산자를 사용하여 몫을 취하면 됩니다.
<!--While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.
산술연산자가 수행되는 동안, 피연산자가 `float`일 경우 integer들도 `float`로 변환된다. 또한, 나눗셈 연산자 `/` 의 반환값은 항상 `float`타입이다. `//`연산자를 사용하면, 반환값은 `int`가 된다.-->

In [60]:
type(45 * 3.0)

float

In [61]:
type(45 * 3)

int

In [62]:
type(10/3)

float

In [63]:
type(10/2)

float

In [64]:
type(10//2)

int

### Boolean

Boolean는  `True` 와 `False` 2가지 값만 가진다. Boolean은 `bool`타입을 가진다.

In [65]:
is_today_Sunday = True

In [66]:
is_today_Sunday

True

In [67]:
type(is_today_Saturday)

bool

Boolean은 일반적으로 비교연산자의 결과로 사용됩니다. (`==`, `>=` 등)

In [68]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [69]:
is_ice_bag_expensive

False

In [70]:
type(is_ice_bag_expensive)

bool

Boolean은 산술연산에 사용될 때, 자동으로 `int`형으로 변환됩니다. `True`는 1, `False`는 0 으로 변환됩니다.

In [71]:
5 + False

5

In [72]:
3. + True

4.0


`bool` 메서드를 통해 Python에서 모든 값들은 Boolean으로 변환될 수 있습니다.

다음은 `False`로 변환되는 값들이다. (*falsy* 값이라고 불린다.):

1. `False` 
2. integer `0`
3. float `0.0`
4. 빈 값 `None`
5. 빈 문자열 `""`
6. 빈 리스트 `[]`
7. 빈 튜플 `()`
8. 빈 딕셔너리 `{}`
9. 빈 셋 `set()`
10. 범위 0 `range(0)`

나머지는 `True`로 표현된다.(이런식으로 `True` 표현되는 값들을 *truthy* 값이라고 한다.)

In [73]:
bool(False)

False

In [74]:
bool(0)

False

In [75]:
bool(0.0)

False

In [76]:
bool(None)

False

In [77]:
bool("")

False

In [78]:
bool([])

False

In [79]:
bool(())

False

In [80]:
bool({})

False

In [81]:
bool(set())

False

In [82]:
bool(range(0))

False

In [83]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

### None

<!--The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.-->

비어있는 값을 의미하는 `None`값만을 단일로 가진 변수의 타입을 None 타입이라고 합니다. 나중에 값을 할당할 수 있는 변수를 미리 선언할때 자주 사용됩니다.

In [84]:
nothing = None

In [85]:
type(nothing)

NoneType

### String(문자열)
String은 텍스트를 표현할 때 사용됩니다. String `'` 혹은 `"`으로 감싸져있습니다. String은 `string` 타입을 가집니다.

In [86]:
today = "Saturday"

In [87]:
today

'Saturday'

In [88]:
type(today)

str

`""` 안에  `''`을 포함시킬 수 있습니다.

In [89]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [90]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [91]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [92]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

 `\`을 사용하여 `""`안에서 `""`을 표현할 수 있습니다.

In [93]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [94]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'


 `'''` 혹은 `"""` 을 이용하여, 단일 라인이 아닌 다중 라인에 걸쳐 문자열을 받을 수 있습니다.

In [95]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

In [96]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

다중 라인의 문자열 `print`함수를 사용할 때 유용합니다.

In [97]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [98]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [99]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

`len` 함수를 통하여 문자열의 길이를 알 수 있다.

In [100]:
len(my_favorite_movie)

31

`\n`(줄바꿈)을 하여 길이가 2인 문자열로 보일지라도. 한개의 1개의 char형입니다.

In [101]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [102]:
len(multiline_string)

3


문자열은 `list` 메서드를 사용하여 문자 목록으로 변환할 수 있습니다.

In [103]:
list(multiline_string)

['a', '\n', 'b']

문자열은 다음 섹션에서 설명하는 여러가지 작업을 지원합니다.
`[]` 를 사용하여 문자열 내의 개별문자에 접근할 수 있습니다. 접근할수 있는 값은 `0`~`n-1`로 여기서 `n`은 문자열의 길이를 의미합니다.  

참고로 접근할 수 있는 값에 대해 부연설명 하자면, Index는 1이 아닌 0부터 시작하므로 0~n-1의 값이 도출된 것입니다.

예시로 길이가 3인 문자열인 abc가 있다고 가정했을 때,  
[0] a  
[1] b  
[2] c  
처럼 저장되어 길이는 3이지만 접근할 수 있는 값은 0~2인 것으로 이해하면 쉬울 것입니다.

In [10]:
today = "Saturday"

In [11]:
today[0]

'S'

In [12]:
today[3]

'u'

In [13]:
today[7]

'y'

`[]` 에서 단일 인덱스 대신 `start:end` 범위값을 넣어 문자열의 일부에 접근할 수 있습니다.  
이 때, start 인덱스 값은 포함되지만, end 인덱스 값은 포함되지 않으므로 5:8로 지정하면 5~7 인덱스의 값이 선택됩니다.  
아래 예제에서 확인할 수 있습니다.

In [16]:
today[5:8]

'day'

`in` 연산자를 사용하여 문자열에 특정 문자열이 포함되어 있는 여부를 확인 할 수 있습니다.

In [17]:
'day' in today

True

In [18]:
'Sun' in today

False

`+` 연산자를 사용하여 복수의 문자열을 결합할 수 있습니다. 문자열을 연결할 때 주의점은 단어 사이에 공백문자를 `" "`를 추가 해야 할 수 있습니다.

In [19]:
full_name = "Derek O'Brien"

In [24]:
greeting = "Hello"

In [25]:
greeting + full_name

"HelloDerek O'Brien"

In [26]:
greeting + " " + full_name + "!" # 공백 추가

"Hello Derek O'Brien!"


Python 문자열에는 문자열 조작에 사용되는 **Methods(메서드)** 가 내장되어 있습니다. 일반적인 문자열 메서드 몇 가지를 사용해 보겠습니다.

> **Methods**: 데이터 유형과 관련된 함수이며, `.`을 이용하여 `variable_name.method()` 혹은 `"a string".method()` 같은 표기법을 통해 접근할 수 있다. 

`.lower()`, `.upper()` , `.capitalize()` 메서드는 문자의 대/소문자를 변경하는데 사용됩니다.

In [27]:
today.lower()

'saturday'

In [31]:
"saturday".upper() # today.upper()도 가능

'SATURDAY'

In [32]:
"monday".capitalize() # 첫 번째 문자를 대문자로 변경

'Monday'

`.replace`메서드는 문자열의 일부를 다른 문자열로 대체합니다. 대체될 문자열과 대체할 문자열을 **input** 또는 **args** 로 사용합니다.

In [33]:
another_day = today.replace("Satur", "Wednes") # replace("대체될 문자열","대체할 문자열")

In [34]:
another_day

'Wednesday'

`replace`는 새 문자열을 반환하며 원래 문자열은 수정되지 않습니다.

In [35]:
today

'Saturday'

`.split` 메서드는 지정한 문자가 읽힐 때마다 문자열을 문자열 list 로 분할합니다.  
아래의 경우, ","가 읽히는 것이 주어진 규칙입니다. 주어진 규칙에 따라 문자열을 쪼개서 list로 만들어주는 역할이라고 이해하면 쉬울 것입니다.

In [121]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

`.strip` 메서드는 문자열의 양 끝의 공백문자를 제거합니다.

In [36]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [37]:
a_long_line_stripped = a_long_line.strip()

In [39]:
a_long_line

'       This is a long line with some space before, after,     and some space in the middle..    '

In [38]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

`.format` 메서드는 integer, float, boolean, list등 과 같은 다른 데이터 유형의 값을 문자열과 결합합니다. 출력 메세지를 표시하기 위해 `.format`을 사용할 수 있습니다.

In [40]:
# 입력 변수
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# 출력 메시지 템플릿
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [41]:
# 문자열에 값 삽입
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

문자열 연결 연산자 `+`를 사용하여 문자열을 다른 값과 결합할 수도 있습니다. 그러나 먼저 str 메서드를 사용하여 문자열로 변환해야 합니다.

In [54]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [55]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

### C 스타일 형식 문자열을 str.format과 쓰기 보다는 f-string을 통한 interpolation을 사용하라.
`f-string`은 Python 3.6부터 사용할 수 있는 기능입니다.
`f-string`의 모양은 f와 {}만 알면 됩니다. 문자열 맨 앞에 f를 붙여주고, 중괄호 안에 직접 변수 이름이나 출력하고 싶은 것을 넣으면 됩니다.  
아래 예제를 보면 쉽게 이해할 수 있을 것입니다.

In [4]:
s = 'K-SW BootCamp'
n = 30
result = f'{s}에는 전체 {n}명의 학우가 참가하고 있습니다.'
print(result)

K-SW BootCamp에는 전체 30명의 학우가 참가하고 있습니다.

`str`메서드를 사용하여, 모든 타입을 string 타입으로 바꿀 수 있습니다.

In [44]:
str(23)

'23'

In [45]:
str(23.432)

'23.432'

In [56]:
str(True)

'True'

In [52]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

`str` 함수를 사용하지 않은 위의 경우와 사용한 아래의 경우를 비교해보십시오.

In [53]:
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

모든 문자열 메서드는 새 값을 반환하며 기존 문자열은 변경하지 마십시오. 문자열 메서드의 전체 목록은 https://www.w3schools.com/python/python_ref_string.asp 에서 확인할 수 있습니다.

문자열은 비교 연산자 `==`와 `!=`도 지원합니다. 두 문자열이 동일한지 여부를 확인합니다.

In [57]:
first_name = "John"

In [58]:
first_name == "Doe"

False

In [59]:
first_name == "John"

True

In [60]:
first_name != "Jane"

True

### List

Python의 목록은 순서대로 정렬된 값의 모음입니다. 목록에는 서로 다른 데이터 유형의 값이 포함될 수 있으며 값을 추가, 제거 및 변경하는 작업을 지원할 수 있습니다. 목록에는 `list` 유형이 있습니다.

목록을 생성하려면 값의 시퀀스를 쉼표로 구분된 대괄호 `[` 및 `]` 안에 묶으십시오.

In [138]:
fruits = ['apple', 'banana', 'cherry']

In [139]:
fruits

['apple', 'banana', 'cherry']

In [140]:
type(fruits)

list

다른 목록을 포함하여 다양한 데이터 유형의 값이 포함된 목록을 만들어 보겠습니다.

In [141]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [142]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [143]:
empty_list = []

In [144]:
empty_list

[]

List의 원소 개수를 확인하려면 `len` 함수를 사용합니다. `len`을 사용하여 다른 여러 데이터 유형의 원소 개수를 확인할 수 있습니다.

In [145]:
len(fruits)

3

In [146]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [147]:
len(a_list)

6

In [148]:
len(empty_list)

0

**index**를 사용하여 List에서 원소에 액세스할 수 있습니다. 예를 들어, `fruits[2]`는 List 내 두 번째 인덱스에 있는 원소를 반환합니다. List의 시작 인덱스는 0입니다.

In [149]:
fruits[0]

'apple'

In [150]:
fruits[1]

'banana'

In [151]:
fruits[2]

'cherry'

List 길이 이상의 인덱스에 액세스하려고 하면 Python은 `IndexError`를 반환합니다.

In [152]:
fruits[3]

IndexError: list index out of range

In [153]:
fruits[4]

IndexError: list index out of range

음수 인덱스를 사용하여 목록의 끝에 있는 원소에 접근할 수 있습니다. 예를 들어, `fruits[-1]`는 마지막 원소를 반환하고, `fruits[-2]`는 두 번째 마지막 원소를 반환하는 등의 작업을 수행합니다.

In [154]:
fruits[-1]

'cherry'

In [155]:
fruits[-2]

'banana'

In [156]:
fruits[-3]

'apple'

In [157]:
fruits[-4]

IndexError: list index out of range

List에서 값의 범위에도 액세스할 수 있습니다. 결과는 그 자체로 List입니다. 몇 가지 예를 들어 봅시다.

In [158]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [159]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [160]:
len(a_list)

6

In [161]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

<!--Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).-->
범위 '2:5'는 시작 인덱스 '2'의 요소를 포함하지만 끝 인덱스 '5'의 요소는 포함하지 않습니다. 즉, 그 결과는 3개의 값(인덱스 2, 3, 4)을 갖습니다.

다음은 몇 가지 실험입니다.(아래 빈 셀 사용):

* T범위의 하나 또는 두 지수를 목록의 크기보다 크게 설정해 보십시오., e.g., `a_list[2:10]`
* 범위의 시작 인덱스를 종료 인덱스보다 크게 설정해 보십시오., e.g., `list_a[2:10]`
* 범위의 시작 또는 종료 인덱스를 생략해 보십시오., e.g., `a_list[2:]` or `a_list[:5]`
* 범위에 대해 음수 지수를 사용해 보십시오., e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

할당 작업을 사용하여 목록 내의 특정 인덱스에서 값을 변경할 수도 있습니다.

In [162]:
fruits

['apple', 'banana', 'cherry']

In [163]:
fruits[1] = 'blueberry'

In [164]:
fruits

['apple', 'blueberry', 'cherry']

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

List 끝에 `append` 메서드를 사용하여 새 값을 추가할 수 있습니다.

In [165]:
fruits.append('dates')

In [166]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

`insert`메서드를 사용하여 특정 인덱스에 새 값을 삽입할 수도 있습니다.

In [167]:
fruits.insert(1, 'banana')

In [168]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

list에서 `remove` 메서드를 사용하여 값을 제거할 수 있습니다.

In [169]:
fruits.remove('blueberry')

In [170]:
fruits

['apple', 'banana', 'cherry', 'dates']

list에 `.remove`에 전달된 값의 인스턴스가 여러 개 있는 경우 어떻게 됩니까? 한 번 해보세요.

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

특정 인덱스에서 요소를 제거하려면 `pop` 메서드을 사용합니다. 메서드는 제거된 요소를 반환합니다.

In [171]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [172]:
fruits.pop(1)

'banana'

In [173]:
fruits

['apple', 'cherry', 'dates']

인덱스를 지정하지 않으면, `pop`메서드가 list의 마지막 요소를 제거합니다.

In [174]:
fruits.pop()

'dates'

In [175]:
fruits

['apple', 'cherry']

`in` 연산자를 사용하여 list에 값이 포함되어 있는지의 여부를 확인 할 수 있습니다.

In [176]:
'pineapple' in fruits

False

In [177]:
'cherry' in fruits

True

`+` 연산자를 통해 list들을 결합할 수 있습니다. 해당 연산자를 *concatenation* 라고 합니다.

In [178]:
fruits

['apple', 'cherry']

In [179]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [180]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

`copy` 메서드를 통하여 list를 복사본을 만들 수 있는데, 복사본은 원본에 영향을 주지 않습니다.

In [181]:
more_fruits_copy = more_fruits.copy()

In [182]:
more_fruits_copy

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [183]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [184]:
# Original list remains unchanged
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

대입 연산자 `=`를 사용하여 새 변수를 생성하는 것만으로는 목록의 복사본을 만들 수 없습니다.  
새 변수는 동일한 list를 가리키며, 두 변수 중 하나를 사용하여 수행된 수정 작업은 다른 변수에 영향을 미칩니다.

In [185]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [186]:
more_fruits_not_a_copy = more_fruits

In [187]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [188]:
more_fruits_not_a_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [189]:
more_fruits

['apple', 'cherry', 'tomato', 'guava', 'dates']

문자열과 마찬가지로 list를 조작할 수 있는 몇 가지 기본 제공 방법이 있습니다.   
그러나 문자열과 달리 대부분의 list 메서드는 새 list를 반환하는 대신 기존의 원본 list을 수정합니다.  
list 연산자는 해당 사이트에서 확인할 수 있습니다. https://www.w3schools.com/python/python_ref_list.asp 


예제를 따라해보고 list 메서드를 사용해봅시다. (아래 빈 셀을 사용하세요):

* list의 요소 순서를 반대로 지정합니다.
* 다른 list 끝에 또 다른 list의 요소 추가
* 문자열 list를 사전순으로 정렬합니다.
* 숫자 list를 내림차순으로 정렬합니다.

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

## Tuple

* tuple은 list과 유사하게 순서대로 정렬된 값의 모음입니다. 그러나 tuple에서는 값을 추가, 제거 또는 수정할 수 없습니다. tuple은 값을 쉼표로 구분된 괄호`( ` ` )` 안에 넣어 생성합니다.

>  생성 후 수정할 수 없는 데이터 구조를 *immutable*이라고 합니다. tuple은 immutable list로 생각 할 수 있습니다.

In [190]:
fruits = ('apple', 'cherry', 'dates')

In [191]:
# fruits tuple의 원소 수 확인
len(fruits)

3

In [192]:
# 원소 가져오기 (양수 index)
fruits[0]

'apple'

In [193]:
# 원소 가져오기 (음수 index)
fruits[-2]

'cherry'

In [194]:
# 원소가 들어있는지 확인(T/F)
'dates' in fruits

True

In [195]:
# 원소 변경 시도
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [196]:
# 원소 추가 시도
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [197]:
# 원소 제거 시도
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

tuple을 생성할 때 괄호 `(`  `)`를 생략할 수도 있습니다. Python은 자동으로 쉼표로 구분된 값을 tuple로 변환합니다.

In [198]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [199]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

원소 뒤에 쉼표를 입력하여 원소가 하나만 있는 tuple을 생성할 수도 있습니다.  
괄호 `()`만 입력하면 tuple이 되지 않는 것을 확인할 수 있습니다. (not_a_tuple 변수)

In [75]:
single_element_tuple = 4,
print(single_element_tuple)

(4,)

In [73]:
type(single_element_tuple)

tuple

In [77]:
another_single_element_tuple = (4,)
print(single_element_tuple)

(4,)

In [78]:
type(another_single_element_tuple)

tuple

In [107]:
not_a_tuple = (4)
print(not_a_tuple)

4

In [108]:
type(not_a_tuple)

int

Tuple은 종종 한 라인에서 여러개의 변수를 선언할 때 사용됩니다.

In [206]:
point = (3, 4)

In [207]:
point_x, point_y = point

In [208]:
point_x

3

In [209]:
point_y

4

`tuple` 메서드를 사용하여 list를 tuple로 변환하거나, `list` 메서드를 사용하여 list를 tuple로 변환할 수 있습니다.

In [210]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [211]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuple에는 `count`와 `index`의 두 가지 기본 메서드가 있습니다. 이러한 메서드들은, `help`를 사용하여 사용법과 같은 설명서를 확인할 수 있습니다.

In [62]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [63]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

Jupyter notebook에서 `?`로 코드셀을 시작하고 함수나 메서드의 이름을 입력할 수 있습니다. 이 셀을 실행하면 팝업창에 기능/메서드의 설명서가 표시됩니다.

In [64]:
?a_tuple.index

Signature: a_tuple.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

`count` 와 `index` 를 `a_tuple`에 적용해 보자.

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

### Dictionary
* Dictionary는 순서가 정해져있지 않은 항목들의 집합입니다.  
* Dictionary에 저장된 각 항목에는 Key와 Value(값)이 있으며, Key를 사용하여 Dictionary에서 해당 Value를 검색할 수 있습니다.  
* Dictionary에는 `dict`라는 자료형이 있습니다.

* Dictionary는 종종 한 사람에 대한 세부사항과 같은 많은 정보를 단일 변수에 저장하는 데 사용되며, Key-Value 쌍을 괄호 `()` 또는 중괄호 `{}` 안에 넣어 만들 수 있습니다.  
자세한 사항은 아래 코드에서 확인할 수 있습니다.
<!--A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.-->

In [80]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [81]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionary은 `dict` 메서드를 통해 만들 수 있습니다.

In [79]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [82]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [83]:
type(person1)

dict


`[`  `]` 사이에 키값을 넣어줌으로써 값에 접근할 수 있다.

In [84]:
person1['name']

'John Doe'

In [117]:
person1['married']

True

In [85]:
person2['name']

'Jane Judy'

Dictionary에 없는 Key(키)값을 주었을 경우,  `KeyError` 가 발생합니다.

In [86]:
person1['address']

KeyError: 'address'

`get`메서드를 사용하여 Key(키)값에 해당하는 값(Value)에 접근할 수 있습니다.

In [87]:
person2.get("name")

'Jane Judy'

`get`메서드도 Dictionary에 Key(키)가 없으면 초기값(None)을 반환합니다.

In [94]:
person2.get("address", "Unknown") # Key 값에 해당하는 Value가 없으면 Unknown을 반환
print(person2.get("address","Unknown"))

Unknown

`in` 연산자를 사용하여, 해당 키값의 존재여부를 판단할 수 있습니다.

In [97]:
'name' in person1

True

In [98]:
'address' in person1

False

대입연산자(=)를 통하여 키값에 해당하는 값을 변경 할 수 있습니다.

In [99]:
person2['married']

False

In [100]:
person2['married'] = True

In [101]:
person2['married']

True

Dictionary에서 대입연산자를 통해 `새로운 Key-Value` 쌍을 삽입할 수 있습니다.

In [231]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [102]:
person1['address'] = '1, Penny Lane'

In [103]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

`pop` 메서드를 사용하여 Key(키)값과 해당 Value값을 제거할 수 있습니다.

In [109]:
person1.pop('address')

'1, Penny Lane'

In [110]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}


Dictionary 에서는 Key, Value , Key-Value 쌍의 list을 출력해주는 메서드를 제공합니다.

In [111]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [112]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [113]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [119]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

위 결과와 같이,  
`keys`,`values`,`items` 결과는 list형으로 보입니다. 하지만, 인덱싱 연산자 `[]`를 지원하지는 않습니다.

위 함수의 결과에서 특정 인덱스의 요소에 접근하는 방법은 무엇일까요?       **hint** : 'list' 메서드 사용

In [127]:
# 실습 코드 작성

In [128]:
# 실습 코드 작성

Dictionary 는 다양한 메서드를 제공합니다. 추가적으로 더 관심이 있으시면 다음 사이트를 참고하세요.: https://www.w3schools.com/python/python_ref_dictionary.asp .

Here are some experiments you can try out with dictionaries 
다음 연습문제를 풀어보세요(아래 빈 셀을 사용하세요.):
* 만약에 동일한 dictionary를 선언할 때, 동일한 키값을 여러번 선언한다면 어떯게 될까?
* dictionary를 복사하려면 어떻게 해야 할까?(수정하여도 원본에는 영향이 가지 않는다.)?
* 키 자체와 관련된 값이 dictionary가 될 수 있는가?
* dictionary의 키-값 쌍을 다른 dictionary의 추가를 어떻게 해야 할까? Hint:  `update` 메서드 참조.
* 키값이 문자열이 아니어도 되는가,  숫자, boolean, list, 등.?

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

In [ ]:
# 실습 코드 작성

## Further Reading

이제 Python에서 변수와 공통 데이터 유형에 대한 탐색을 완료했습니다. 다음은 Python의 데이터 유형에 대해 자세히 알아보기 위한 몇 가지 리소스입니다.:

* Python official documentation: https://docs.python.org/3/tutorial/index.html
* Python Tutorial at W3Schools: https://www.w3schools.com/python/
* Practical Python Programming: https://dabeaz-course.github.io/practical-python/Notes/Contents.html