### 021 문자열 인덱싱
##### letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

```python
letters = 'python'
```

``>>`` letters = 'python'

p t

### 022 문자열 슬라이싱
##### 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [28]:
license_plate = "24가 2210"
##############
#코드를 적어주세요


##############

'2210'

### 023 문자열 인덱싱
##### 아래의 문자열에서 '홀' 만 출력하세요.

In [36]:
string = "홀짝홀짝홀짝"
##############
#코드를 적어주세요


##############

'홀홀홀'

### 024 문자열 슬라이싱
##### 문자열을 거꾸로 뒤집어 출력하세요.

In [33]:
string = "PYTHON"
##############
#코드를 적어주세요


##############

'NOHTYP'

### 025 문자열 치환
##### 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [37]:
phone_number = "010-1111-2222"
##############
#코드를 적어주세요


##############

'010 1111 2222'

### 026 문자열 다루기
##### 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

'01011112222'

### 027 문자열 다루기
##### url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [42]:
url = "http://sharebook.kr"
##############
#코드를 적어주세요


##############

kr

### 028 문자열은 immutable
##### 아래 코드의 실행 결과를 예상해보세요.

```python
lang = 'python'
lang[0] = 'P'
print(lang)
```

### 029 replace 메서드
##### 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [44]:
string = 'abcdfe2a354a32a'
##############
#코드를 적어주세요


##############

'Abcdfe2A354A32A'

### 030 replace 메서드
##### 아래 코드의 실행 결과를 예상해보세요.

```python
string = 'abcd'
string.replace('b', 'B')
print(string)
```

### 031 문자열 합치기
##### 아래 코드의 실행 결과를 예상해보세요.

```python
a = "3"
b = "4"
print(a + b)
```

### 032 문자열 곱하기
##### 아래 코드의 실행 결과를 예상해보세요.

```python
print("Hi" * 3)
```

### 033 문자열 곱하기
##### 화면에  ' - ' 를 80개 출력하세요.

--------------------------------------------------------------------------------

### 034 문자열 곱하기
##### 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

python java python java python java python java

In [52]:
t1 = 'python'
t2 = 'java'
##############
#코드를 적어주세요


##############

python java python java python java

### 035 문자열 출력
##### 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때  f-string을 사용해서 다음과 같이 출력해보세요.

이름: 김민수 나이: 10

이름: 이철희 나이: 13

In [55]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
##############
#코드를 적어주세요


##############

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

### 036 문자열 출력
##### 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

### 037 문자열 출력
##### 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

### 038 컴마 제거하기
##### 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [60]:
상장주식수 = "5,969,782,550"
##############
#코드를 적어주세요


##############

5969782550

### 039 문자열 슬라이싱
##### 다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [63]:
분기 = "2020/03(E) (IFRS연결)"
##############
#코드를 적어주세요


##############

'2020/03'

### 040 strip 메서드
##### 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [64]:
data = "   삼성전자    "
##############
#코드를 적어주세요


##############

'삼성전자'

### 041 upper 메서드
##### 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

In [65]:
ticker = "btc_krw"
##############
#코드를 적어주세요


##############

'BTC_KRW'

### 042 lower 메서드
##### 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [66]:
ticker = "BTC_KRW"
##############
#코드를 적어주세요


##############

'btc_krw'

### 043 capitalize 메서드
##### 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

'Hello'

### 044 endswith 메서드
##### 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [72]:
file_name = "보고서.xlsx"
##############
#코드를 적어주세요


##############

True

### 045 endswith 메서드
##### 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

In [77]:
file_name = "보고서.xlsx"
##############
#코드를 적어주세요


##############

True

### 046 startswith 메서드
##### 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [78]:
file_name = "2020_보고서.xlsx"
##############
#코드를 적어주세요


##############

True

### 047 split 메서드
##### 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [79]:
a = "hello world"
##############
#코드를 적어주세요


##############

['hello', 'world']

### 048 split 메서드
##### 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [80]:
ticker = "btc_krw"
##############
#코드를 적어주세요


##############

['btc', 'krw']

### 049 split 메서드
##### 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

In [81]:
date = "2020-05-01"
##############
#코드를 적어주세요


##############

['2020', '05', '01']

### 050 rstrip 메서드
##### 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [85]:
data = "039490     "
##############
#코드를 적어주세요


##############

'039490'